<%- model_class = IndicatorCategory -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_indicator_category_path,
            :class => 'btn btn-primary' %>

<br /><br />

<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-xs-1 col-md-1"><%= model_class.human_attribute_name(:id) %></th>
    <th class="col-xs-4 col-md-4">Categoria Principal</th>
    <th class="col-xs-5 col-md-4"><%= model_class.human_attribute_name(:name) %></th>
    <th class="col-md-2 hidden-xs"><%= model_class.human_attribute_name(:exclusive_options) %></th>
    <th class="acoes col-xs-1  col-md-1"><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @indicator_categories.each do |indicator_category| %>
      <%= render 'index_list_category', indicator_category: indicator_category %>
      <% unless indicator_category.children.empty? %>
          <% indicator_category.children.order(:name).each do |child| %>
              <%= render 'index_list_category', indicator_category: child %>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_indicator_category_path,
            :class => 'btn btn-primary' %>
