<%- model_class = IndicatorCategory -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th>Categoria Principal</th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th class="acoes"><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @indicator_categories.each do |indicator_category| %>
      <%= render 'index_list_category', indicator_category: indicator_category %>
      <% unless indicator_category.children.empty? %>
        <% indicator_category.children.order(:name).each do |child| %>
          <%= render 'index_list_category', indicator_category: child %>
        <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_indicator_category_path,
            :class => 'btn btn-primary' %>
