<%- model_class = Diagnosis -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_diagnosis_path,
            :class => 'btn btn-primary' %>

<br /><br />

<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-lg-1"><%= model_class.human_attribute_name(:id) %></th>
    <th class="col-lg-10"><%= model_class.human_attribute_name(:name) %></th>
    <th class="acoes col-lg-1"><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @diagnoses.each do |diagnosis| %>
      <tr>
        <td><%= link_to diagnosis.id, diagnosis_path(diagnosis) %></td>
        <td><%= diagnosis.name %></td>
        <td class="acoes">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_diagnosis_path(diagnosis), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      diagnosis_path(diagnosis),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_diagnosis_path,
            :class => 'btn btn-primary' %>
