<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Dados da Internação</h3>
  </div>
  <!-- Table -->
  <table class="table hidden-xs">
    <tr>
      <th>Leito</th>
      <th>Data de Entrada</th>
      <th>Data de Saída</th>
      <th>Paciente</th>
      <th><%= Patient.human_attribute_name(:birthdate) %></th>
      <th><%= Patient.human_attribute_name(:sex) %></th>
    </tr>
    <tr>
      <td><%= hospitalization.bed.id %></td>
      <td><%= hospitalization.checkin.strftime("%d/%m/%Y %H:%M") %></td>
      <td><%= hospitalization.checkout.strftime("%d/%m/%Y %H:%M") unless hospitalization.checkout.nil? %></td>
      <td><%= hospitalization.patient.name %></td>
      <td><%= hospitalization.patient.birthdate.strftime("%d/%m/%Y") %></td>
      <td><%= hospitalization.patient.sex %></td>
    </tr>
  </table>


  <table class="table visible-xs-block hidden-sm hidden-md hidden-lg">
    <tr>
      <td>Leito</td>
      <td><%= hospitalization.bed.id %></td>
    </tr>
    <tr>
      <td>Data de Entrada</td>
      <td><%= hospitalization.checkin.strftime("%d/%m/%Y %H:%M") %></td>
    </tr>
    <tr>
      <td>Data de Saída</td>
      <td><%= hospitalization.checkout.strftime("%d/%m/%Y %H:%M") unless hospitalization.checkout.nil? %></td>
    </tr>
    <tr>
      <td>Paciente</td>
      <td><%= hospitalization.patient.name %></td>
    </tr>
    <tr>
      <td><%= Patient.human_attribute_name(:birthdate) %></td>
      <td><%= hospitalization.patient.birthdate.strftime("%d/%m/%Y") %></td>
    </tr>
    <tr>
      <td><%= Patient.human_attribute_name(:sex) %></td>
      <td><<%= hospitalization.patient.sex %>/td>
    </tr>
  </table>

</div>

