<%- model_class = Visit -%>
<div class="page-header">
  <h1>Histórico de Visitas por Leito</h1>
  <h3>Leito <%= @bed.id %></h3>
</div>
<%= link_to(beds_path, :class => 'btn btn-default') do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Cadastro de Leitos
<% end %>
<br /><br />
<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-lg-1">Cód.</th>
    <th class="col-lg-2">Data da Visita</th>
    <th class="col-lg-4">Paciente</th>
    <th class="col-lg-4">Responsável</th>
    <th class="acoes col-lg-1"><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @visits.each do |visit| %>
      <tr>
        <td><%= link_to visit.id, "#" %></td>
        <td><%= visit.datahora.strftime("%d/%m/%Y - %H:%M") %></td>
        <td><%= visit.hospitalization.patient.name %></td>
        <td><%= visit.user.name %></td>
        <td class="acoes">
          <%= link_to('Detalhes', visit_details_path(visit), :class => 'btn btn-default btn-xs') %>
          <%= link_to('Imprimir', visit_details_pdf_path(visit), :target => '_blank', :class => 'btn btn-default btn-xs') %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to(beds_path, :class => 'btn btn-default') do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Cadastro de Leitos
<% end %>
