<div class="page-header">
  <h1>Detalhes da Visita</h1>
</div>

<%= link_to('javascript:history.back()', :class => 'btn btn-default') do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Voltar
<% end %>
<br /><br />

<%= render 'patients/data', patient: @visit.hospitalization.patient %>

<%= render 'hospitalizations/data', hospitalization: @visit.hospitalization %>

<%= render 'visits/data', visit: @visit %>

<%= link_to('javascript:history.back()', :class => 'btn btn-default') do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Voltar
<% end %>