<p class="text-left">Visita ao paciente <%= @visit.hospitalization.patient.name %></p>

<%= render 'patients/data', patient: @visit.hospitalization.patient %>

<%= render 'hospitalizations/data', hospitalization: @visit.hospitalization %>

<%= render 'visits/data', visit: @visit %>

<br />
<br />


<div class="text-center">
  <p>João Pessoa, <%= Time.now.strftime("%d/%m/%Y") %></p>
  <p>__________________________________________________</p>
  <p><%= @visit.user.name %></p>
</div>