<div class="page-header">
  <h1>Detalhes da Visita</h1>
</div>

<%= link_to(visit_details_pdf_path(@visit.id), :target => '_blank', :class => 'btn btn-default') do %>
    <span class="glyphicon glyphicon-print"></span> Imprimir
<% end %>

<br /><br />

<%= render 'patients/data', patient: @visit.hospitalization.patient %>

<%= render 'hospitalizations/data', hospitalization: @visit.hospitalization %>

<%= render 'visits/data', visit: @visit %>

<%= link_to(visit_details_pdf_path(@visit.id), :target => '_blank', :class => 'btn btn-default') do %>
    <span class="glyphicon glyphicon-print"></span> Imprimir
<% end %>