<%= render 'hospitalization', hospitalization: @hospitalization %>

<div class="page-header">
  <h3>Diagnósticos Sugeridos</h3>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Diagnósticos</h3>
  </div>
  <div class="panel-body">
    <%= form_tag(visit_interventions_path(@hospitalization.bed_id), :method => 'post') do %>
        <ul class="list-group">
          <% @diagnoses.each do |diagnosis| %>
              <li class="list-group-item">
              <li class="list-group-item">
                <div class="checkbox">
                  <label>
                    <%= check_box_tag 'diagnoses[]', diagnosis.id %> <%= diagnosis.name %>
                  </label>
                </div>
              </li>
          <% end %>
        </ul>
        <%= submit_tag 'Salvar Diagnósticos', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
