<%= render 'hospitalizations/summary', hospitalization: @hospitalization %>

<div class="page-header">
  <h3>Diagnósticos Sugeridos</h3>
</div>

<%= form_tag(visit_interventions_path(@hospitalization.bed_id), :method => 'post') do %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Diagnósticos</h3>
      </div>

      <ul class="list-group">
        <% @diagnoses.each do |diagnosis| %>
            <li class="list-group-item">
              <div>
                <label>
                  <%= check_box_tag 'diagnoses[]', diagnosis.id, @diagnoses_ids.include?(diagnosis.id.to_s) %> <%= diagnosis.name %>
                </label>
              </div>
            </li>
        <% end %>
      </ul>

    </div>
    <%= content_tag :button, type: :submit, name: 'commit', class: 'btn btn-primary' do %>
        Continuar <span class="glyphicon glyphicon-chevron-right"></span>
    <% end %>
    <div class="pull-right">
      <%= link_to(visit_indicators_path(@hospitalization.bed_id), :class => 'btn btn-default') do %>
          <span class="glyphicon glyphicon-chevron-left"></span> Voltar
      <% end %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  cancel_visit_path, :class => 'btn btn-default' %>
    </div>
<% end %>
