<%= render 'hospitalization', hospitalization: @hospitalization %>

<div class="page-header">
  <h3>Intervenções Sugeridas</h3>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Intervenções</h3>
  </div>
  <div class="panel-body">
    <%= form_tag(visit_finish_path(@hospitalization.bed_id), :method => 'post') do %>
        <ul class="list-group">
          <% @interventions.each do |intervention| %>
              <li class="list-group-item">
                <div class="checkbox">
                  <label>
                    <%= check_box_tag 'interventions[]', intervention.id %> <%= intervention.name %>
                  </label>
                </div>
              </li>
          <% end %>
        </ul>
        <%= submit_tag 'Salvar Intervenções', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>