<%= render 'hospitalizations/summary', hospitalization: @hospitalization %>

<div class="page-header">
  <h3>Exame Físico</h3>
</div>

<%= simple_form_for @visit,
                    :url => url_for(:action => 'indicators', :controller => 'visits'),
                    :method => 'post',
                    :html => {:class => 'form-horizontal'} do |f| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dados Antropométricos</h3>
      </div>

      <div class="panel-body">

        <%= f.input :weight, :input_html => {:type => 'text', :'data-mask' => '9?.99' } %>
        <%= f.input :stature, :input_html => {:type => 'text', :'data-mask' => '99?.99' } %>
        <%= f.input :head_circumference, :input_html => {:type => 'text', :'data-mask' => '99?.99' } %>
        <%= f.input :thoracic_perimeter, :input_html => {:type => 'text', :'data-mask' => '99?.99' } %>
        <%= f.input :waist_circumference, :input_html => {:type => 'text', :'data-mask' => '99?.99' } %>

        <%= hidden_field_tag :bed_id, @bed_id %>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sinais Vitais</h3>
      </div>

      <div class="panel-body">

        <%= f.input :temperature, :input_html => {:type => 'text', :'data-mask' => '99?.99' } %>
        <%= f.input :incubator_temperature, :input_html => {:type => 'text', :'data-mask' => '99?.99' } %>
        <%= f.input :pulse, :input_html => {:type => 'text', :'data-mask' => '99?9' } %>
        <%= f.input :heart_rate, :input_html => {:type => 'text', :'data-mask' => '99?9' } %>
        <%= f.input :respiratory_rate, :input_html => {:type => 'text', :'data-mask' => '99?9' } %>
        <%= f.input :blood_pressure_min, :input_html => {:type => 'text', :'data-mask' => '99?9' } %>
        <%= f.input :blood_pressure_max, :input_html => {:type => 'text', :'data-mask' => '99?9' } %>

        <%= hidden_field_tag :bed_id, @bed.id %>

      </div>
    </div>

    <%= content_tag :button, type: :submit, name: 'commit', class: 'btn btn-primary' do %>
        Continuar <span class="glyphicon glyphicon-chevron-right"></span>
    <% end %>
    <div class="pull-right">
      <%= link_to(beds_list_path, :class => 'btn btn-default') do %>
          <span class="glyphicon glyphicon-chevron-left"></span> Voltar
      <% end %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  cancel_visit_path, :class => 'btn btn-default' %>
    </div>

<% end %>
