<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dados da Internação</h3>
  </div>
  <!-- Table -->
  <table class="table hidden-xs">
    <tr>
      <th>Leito</th>
      <th>Data de Entrada</th>
      <th>Data de Saída</th>
    </tr>
    <tr>
      <td><%= hospitalization.bed.id %></td>
      <td><%= hospitalization.checkin.strftime("%d/%m/%Y %H:%M") %></td>
      <td><%= hospitalization.checkout.strftime("%d/%m/%Y %H:%M") unless hospitalization.checkout.nil? %></td>
    </tr>
  </table>


  <table class="table visible-xs-block hidden-sm hidden-md hidden-lg">
    <tr>
      <td>Leito</td>
      <td><%= hospitalization.bed.id %></td>
    </tr>
    <tr>
      <td>Data de Entrada</td>
      <td><%= hospitalization.checkin.strftime("%d/%m/%Y %H:%M") %></td>
    </tr>
    <tr>
      <td>Data de Saída</td>
      <td><%= hospitalization.checkout.strftime("%d/%m/%Y %H:%M") unless hospitalization.checkout.nil? %></td>
    </tr>
  </table>

</div>

