<%= simple_form_for @patient, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.input :name %>
    <%= f.input :birthdate %>
    <div class="form-group string optional patient_sex">
      <label for="patient_sex" class="string optional control-label">Sexo</label>
      <div>
        <%= f.collection_radio_buttons :sex, [['masculino', 'Masculino'], ['feminino', 'Feminino']], :first, :last %>
      </div>
    </div>

    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                patients_path, :class => 'btn btn-default' %>
<% end %>
